<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>rss</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Bariol Bold Italic.otf</string>
		<string>Bariol Bold.otf</string>
		<string>Bariol Light Italic.otf</string>
		<string>Bariol Light.otf</string>
		<string>Bariol Regular Italic.otf</string>
		<string>Bariol Regular.otf</string>
		<string>Bariol Thin Italic.otf</string>
		<string>Bariol Thin.otf</string>
		<string>bariol_bold_italic.otf</string>
		<string>bariol_bold.otf</string>
		<string>bariol_light_italic.otf</string>
		<string>bariol_light.otf</string>
		<string>bariol_regular_italic.otf</string>
		<string>bariol_regular.otf</string>
		<string>bariol_thin_italic.otf</string>
		<string>bariol_thin.otf</string>
		<string>lora_bold_italic.ttf</string>
		<string>lora_bold.ttf</string>
		<string>lora_italic.ttf</string>
		<string>lora_regular.ttf</string>
		<string>opensans_bold_italic.ttf</string>
		<string>opensans_bold.ttf</string>
		<string>opensans_extra_bold_italic.ttf</string>
		<string>opensans_extra_bold.ttf</string>
		<string>opensans_italic.ttf</string>
		<string>opensans_light_italic.ttf</string>
		<string>opensans_light.ttf</string>
		<string>opensans_regular.ttf</string>
		<string>opensans_semi_bold_italic.ttf</string>
		<string>opensans_semi_bold.ttf</string>
	</array>
</dict>
</plist>
